{% extends 'main_twitter/base.html' %}
{% block title %} News {% endblock %}
{% load static %}

{% block content %}
    <p class="list-group-item text-center"> News </p>
    {#        <link href="{% static 'main_twitter/css/profile.css' %}" rel="stylesheet"/>#}
    <link href="{% static 'main_twitter/css/friends.css' %}" rel="stylesheet"/>

    <div class="card text-dark bg-light mb-3">
        {% for twitt in twitts %}
            <div class="card-body">


                <div class="card">
                    <div class="badge rounded-pill bg-info text-dark">
                        <a href="{% url 'profile' user_name=twitt.author.user.username %}" style="color: #1b1b1b">
                            @{{ twitt.author.user.username }}</a>

                    </div>
                    <div>

                        ***{{ twitt.text }}


                    </div>


                    <div class="btn-group" role="group" aria-label="Basic outlined example">

                        <form method="post" style="float: left;" action="{% url 'like' twitt.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ request.path }}">

                            {% if request.user.profile in twitt.likes.all %}
                                <button class=" btn glyphicon glyphicon-thumbs-up active" type="submit">
                                    <span>{{ twitt.likes.all.count }}</span></button>
                            {% else %}
                                <button class=" btn glyphicon glyphicon-thumbs-up " type="submit">
                                    <span>{{ twitt.likes.all.count }}</span></button>

                            {% endif %}


                        </form>


                        <form method="post" style="float: left;  margin-right: 20px; "
                              action="{% url 'dislike' twitt.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="text" value="{{ request.path }}">

                            {% if  request.user.profile  in twitt.dislikes.all %}
                                <button class=" btn glyphicon glyphicon-thumbs-down active" type="submit">
                                    <span>{{ twitt.dislikes.all.count }}</span></button>
                            {% else %}
                                <button class=" btn glyphicon glyphicon-thumbs-down " type="submit">
                                    <span>{{ twitt.dislikes.all.count }}</span></button>

                            {% endif %}

                        </form>
                        <div method="post" >
                            {% csrf_token %}
                            <a style="float: left;  color: #1b1b1b" class=" btn glyphicon glyphicon-comment " type="submit" href="{% url 'comments' twitt.pk %}"></a>

                        </div>

                    </div>


                </div>

                <div class="card-text">
                    {{ twitt.create_date }}
                </div>

            </div>
        {% endfor %}
{% endblock %}