{% extends 'main_twitter/base.html' %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}
    <p  class="list-group-item text-center"> News </p>
{#        <link href="{% static 'main_twitter/css/profile.css' %}" rel="stylesheet"/>#}
    <link href="{% static 'main_twitter/css/friends.css' %}" rel="stylesheet"/>

    <div class="card text-dark bg-light mb-3">
        {% for twitt in twitts %}
            <div class="card-body">


                <div class="card">
                    <div class="badge rounded-pill bg-info text-dark">
                            <a href="{% url 'profile' user_name=twitt.author.user.username %}" style="color: #1b1b1b">  @{{ twitt.author.user.username }}</a>

                    </div>
                    <div>

                        ***{{ twitt.text }}


                    </div>


                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <form method="post" style="float: left;" action="{% url 'like' twitt.pk %}">
                            {% csrf_token %}
                            {#              <div style="margin-top: 10px; width: 30px; height: 30px; margin-left: 950px;">#}
                            <input type="hidden" name="text" value="{{ request.path }}">
                            <button class=" btn glyphicon glyphicon-thumbs-up" type="submit">
                                <span>{{ twitt.likes.all.count }}</span>

                            </button>

                        </form>


                        <form method="post" style="clear: right;  margin-right: 20px; "
                              action="{% url 'dislike' twitt.pk %}">
                            {% csrf_token %}
                            {#              <div style="margin-top: -30px; width: 30px; height: 30px; margin-left: 980px;">#}
                            <input type="hidden" name="text" value="{{ request.path }}">
                            <button type="submit" style="background: transparent; border: none; box-shadow: none;"
                                    class="btn  glyphicon glyphicon-thumbs-down">
                                <span>{{ twitt.dislikes.all.count }}</span>

                            </button>

                        </form>
                    </div>


                </div>

                <div class="card-text">
                    {{ twitt.create_date }}
                </div>

            </div>
        {% endfor %}
{% endblock %}